article{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 0.8rem;
}

article header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
article header div{
    display: flex;
    height: 2rem;
    flex-direction: column;
}
article header span{
    opacity: 0.5;
}
article img{
    width: 48px;
    height:47px;
    border-radius: 100%;
}
article button {
    margin-left: 16px;
    border:  0;
    border-radius: 999px;
    padding:  6px 16px;
    font-weight:  bold;
}

.follow-container{
    display: flex;
     flex-direction: column;
    gap: 1rem;
}